.EpisodeListItem {
    position: relative;
    float: left;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.EpisodeListItem:hover {
    background-color: #e6e6e6;
}

.EpisodeListItem h2 {
    font-weight: 100;
    display: inline-block;
    margin: 2px;
}

.EpisodeListItem .Title {
    float: left;
    position: relative;
    width: calc(100% - 70px);
}

.EpisodeListItem .Duration {
    float: right;
    position: relative;
    font-weight: 100;
    font-size: 14px;
    color: gray;
}
