.PodcastCard {
    width: 150px;
    height: 200px;
    margin: 7px;
    float: left;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.16);
}

.PodcastCard .ThumbContainer {
    width: 150px;
    background-color: #f1f1f1;
    height: 150px;
    overflow: hidden;
}

.PodcastCard img {
    width: 150px;
}

.PodcastName {
    padding: 1px 6px;
}

.PodcastCard a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
